<a href="#share" class="waves-effect waves-light btn modal-trigger"><i class="material-icons">share</i></a>

<div id="share" class="modal">
  <div class="modal-content">
    <h4>Share</h4>


    <ul class="collection">
      <a class="collection-item" target="_blank"  href="https://www.facebook.com/sharer/sharer.php?u={{}}"><i class="material-icons left">email</i>Share on Facebook</a>

      <a class="collection-item" target="_blank" href="https://twitter.com/home?status={{}}"><i class="material-icons left">email</i>Share on Twitter</a>

      <a class="collection-item" target="_blank" href="https://plus.google.com/share?url={{}}"><i class="material-icons left">email</i>Share on Google+</a>

      <a class="collection-item" target="_blank" href="mailto:?&body={{}}"><i class="material-icons left">email</i>Share on Google+</a>
    </ul>    
  </div>

  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat "><i class="material-icons left">close</i>Close</a>
  </div>
</div>